*{
    margin: 0;
    padding: 0;
}

body{
background: #4B79A1; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4B79A1 , #283E51); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4B79A1 , #283E51); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vertical-align {
    min-height: 100vh;
    display: flex;
    align-items: center;
}